@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --light-cyan: hsl(193, 38%, 86%); 
    --neon-green: hsl(150, 100%, 66%); 
    --grayish-blue: hsl(217, 19%, 38%); 
    --dark-grayish-blue: hsl(217, 19%, 24%); 
    --dark-blue: hsl(218, 23%, 16%);
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px auto;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    background-color: var(--dark-blue);
}

.container {
    width: 600px; 
    padding: 60px 40px;
    background-color: var(--dark-grayish-blue);
    border-radius: 20px;
}

header {
    margin-bottom: 30px;
    color: var(--neon-green); 
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 4px;
}

main {
    color: var(--light-cyan);
    font-size: 28px;
}

main #advice {
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px auto;
    padding: 20px;
    border: none; 
    border-radius: 50%;
    background-color: var(--neon-green);
}

button:hover {
    box-shadow: 0 0 30px 10px var(--neon-green);
}